aniso8601==9.0.1
attrs==24.2.0
bcrypt==4.1.2
blinker==1.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
Flask==3.0.3
flask-abort==0.0.1
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
flask-marshmallow==1.2.0
flask-restx==1.3.0
Flask-SQLAlchemy==3.1.1
idna==3.10
importlib_resources==6.4.5
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
MarkupSafe==3.0.2
marshmallow==3.21.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==1.0.0
numpy==2.1.3
packaging==24.2
pandas==2.2.3
PyJWT==2.8.0
PyMySQL==1.1.0
python-dateutil==2.9.0.post0
python-magic==0.4.27
pytz==2024.2
referencing==0.35.1
requests==2.32.3
rpds-py==0.21.0
six==1.16.0
SQLAlchemy==2.0.25
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.1.3
